@font-face {
    font-family: "Gilda Display";
    src: url("./styles/fonts/Gilda_Display/GildaDisplay-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Gilda Display", serif;
    font-weight: 400;
}
